@charset "UTF-8";

* {
   font-size:16pt;
  text-align:center;
  align="center"
}

html { 
  font-family:Arial;
  text-align:center;
  align="center"
}

body {
  margin: auto;
}

#newgame, #submit {
  background-color:#33bdef;
  border-radius:6px;
  border:0px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:19px;
  font-weight:bold;
  padding:7px 22px;
  text-decoration:none;
}

#submit:disabled{
  background-color:#BDBDBD;
}

#newgame:hover, #submit:hover:enabled {
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color:#019ad2;
  position:relative;
  top:1px;
}

#grid{
  float: left;
  margin-right: 30px;
}

#message{
  line-height: 150%;
}

#done0, #done1, #done2, #done3, #done4{
  float: left;
  line-height: 150%;
  margin-right: 20px;
  margin-left: 20px;
}

#wrap {
  width: 370px;
  margin: auto;
}

#wrap2 {
  width: 570px;
  margin: auto;
}

[type = "text"]{
  width:36px;
  height:36px;
  font-size:25px;
  margin-top:6px;
}
