@charset "UTF-8";

@font-face {
  font-family: 'Amsterdam';
  src:local('글꼴/암스테르담.woff2'),
      local('글꼴/암스테르담.woff'), 
      url('글꼴/암스테르담.woff2') format('woff2'),
      url('글꼴/암스테르담.woff') format('woff');
}

* {
  font-family: 'Amsterdam';
  font-weight: bold;
  font-size:20pt;
  text-align:center;
}

html { 
  text-align:center;
}

body{
  margin: auto;
}

p{
  font-size:30px;
  text-align:center;
}

button {
  background-color:#33bdef;
  border-radius:6px;
  border:0px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:23px;
  font-weight:bold;
  padding:7px 22px;
  text-decoration:none;
  margin: 20px;
}

button:hover {
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color:#019ad2;
  position:relative;
  top:1px;
}

input {
  display: none;
}

input + label {
  background: #999;
  display: inline-block;
  width: 66px;
  height: 66px;
  border-radius: 33px;
  border: 2px solid #999;
  cursor: pointer;
  margin: 0px 3px 0px 3px;
  transition: background 0.1s, border 0.1s;
}

input:checked + label {
  background: #32e732;
  border: 2px solid #32e732;
}

#wrap {
  width: 620px;
  margin: auto;
}

#grid{
  float: left;
}

#abc {
  float: left;
  margin: 30px;
}

