@charset "UTF-8";

@font-face {
  font-family: 'Amsterdam';
  src:local('글꼴/암스테르담.woff2'),
      local('글꼴/암스테르담.woff'), 
      url('글꼴/암스테르담.woff2') format('woff2'),
      url('글꼴/암스테르담.woff') format('woff');
}

* {
  font-family: 'Amsterdam';
  font-weight: bold;
  font-size:20pt;
  text-align:center;
}

html { 
  text-align:center;
}

body{
  margin: auto;
}

p{
  font-size:30px;
  text-align:center;
}

button {
  background-color:#33bdef;
  border-radius:6px;
  border:0px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:23px;
  font-weight:bold;
  padding:7px 22px;
  text-decoration:none;
  margin: 0px 20px 0px 20px;
}

button:hover {
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color:#019ad2;
  position:relative;
  top:1px;
}

.tile {
  display: inline-block;
  width: 65px;
  height: 65px;
  margin: 0px;
  line-height: 65px;
  border: 1px solid #000000;
  font-size:45px;
  font-weight:bold;
  color:#000000;
}

#wrap {
  width: 900px;
  margin: auto;
}

#grid0, #grid1, #grid2{
  float: left;
  margin: 15px;
}

#empty {
  margin-bottom: 30px;
}

