@charset "UTF-8";

* {
  font-size:16pt;
  text-align:center;
  align="center"
  font-family: sans-serif;
}

html { 
	font-family:Arial;
  text-align:center;
  align="center"
}

body {
  margin: auto;
}

#guess {
  width:80px;
  height:36px;
  font-size:25px;
  margin-left: 10px;
}

p{
  font-family:Arial;
  font-size:25px;
  text-align:center;
  align="center"
}

#newgame, #submit {
  background-color:#33bdef;
  border-radius:6px;
  display:inline-block;
  border:0px solid #000000;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:19px;
  font-weight:bold;
  padding:7px 22px;
  text-decoration:none;
  margin-left:20px;
}

#submit:disabled{
  background-color:#BDBDBD;
}

#newgame:hover, #submit:hover:enabled {
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color:#019ad2;
  position:relative;
  top:1px;
}

#done {
  column-count: 2;
  column-gap: 15px;
  width: 350px;
  margin: 0 auto;
  line-height: 200%;
  column-rule : 5px dotted blue
}

