@charset "UTF-8";

* {
  font-size:16pt;
  text-align:center;
  align="center"
}

html { 
	font-family:Arial;
  text-align:center;
  align="center"
}

body, table {
  margin: auto;
}

p{
  font-family:Arial;
  font-size:30px;
  text-align:center;
  align="center"
}

button {
  background-color:#33bdef;
  border-radius:6px;
  border:0px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:19px;
  font-weight:bold;
  padding:7px 22px;
  text-decoration:none;
  margin: 20px 0px 20px 0px;
}

button:hover {
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color:#019ad2;
  position:relative;
  top:1px;
}

#block0{
  background-color:#ffffff;
  border:2px solid #ffffff;
}

td {
  border-radius:12px;
  border:2px solid #000000;
  display:inline-block;
  color:#000000;
  font-family:Arial;
  font-size:45px;
  font-weight:bold;
  height: 70px;
  width: 70px;
  line-height: 70px;
  margin-left:1px;
  margin-right:1px;
}

#wrap {
  width:500px;
  margin: auto;
}

#board{
  float: left;
  margin-right: 30px;
}




