@charset "UTF-8";

* {
  font-size:16pt;
  text-align:center;
  align="center"
}

html { 
	font-family:Arial;
  text-align:center;
  align="center"
}

body{
  margin: auto;
}

p{
  font-family:Arial;
  font-size:25px;
  text-align:center;
  align="center"
}

#rotdir {
  font-size:30px;
  padding:7px 15px;
}

button {
  background-color:#33bdef;
  border-radius:6px;
  border:0px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:19px;
  font-weight:bold;
  padding:7px 22px;
  text-decoration:none;
  margin: 20px;
}

button:hover {
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color:#019ad2;
  position:relative;
  top:1px;
}

.marble {
  display: inline-block;
  width: 66px;
  height: 66px;
  border-radius: 33px;
  margin: 0px 6px 0px 6px;
}

#wrap {
  width: 600px;
  margin: auto;
}

#grid{
  float: left;
}

#abc {
  float: left;
  margin: 30px;
}

#empty {
  margin-bottom: 30px;
}

